<div class="flex flex-col modal-container fixed bg-white shadow-xl rounded-lg overflow-hidden">
    <div class="flex header text-gray-700 bg-gray-500 text-white px-4 py-3">
        <h2 class="flex-grow text-2xl">{{modalConfig.title}}</h2>
        <button class="px-2 rounded-md focus:outline-none hover:bg-gray-600 transition-250" (click)="close()">
            <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
            </svg>
        </button>
    </div>
    <div class="body">
        <ng-container
            *ngIf="internalModal"
            [ngTemplateOutlet]="internalModal"
            [ngTemplateOutletContext]="{$implicit: entity}">
        </ng-container>
    </div>
    <div class="footer">
        <full-width-footer [hideCancel]="false"
                           (footerAction)="onAction($event)">
        </full-width-footer>
    </div>
</div>
