<ng-container>
    <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="date">
        {{'labels.' + (label || key) | translate}}
    </label>
    <input id="date"
           type="text"
           class="appearance-none block w-full bg-gray-200 text-gray-700 rounded-sm py-2 px-2 mb-1 leading-tight focus:outline-none"
           altInputClass="appearance-none block w-full bg-gray-200 text-gray-700 rounded-sm py-2 px-2 mb-1 leading-tight focus:outline-none"
           [(ngModel)]="innerValue"
           [altInput]="true"
           [locale]="selectedLocale"
           [disableMobile]="true"
           (flatpickrValueUpdate)="setValue($event)"
           mwlFlatpickr>
    <p [hidden]="true" class="text-red-500 text-xs italic">Please fill out this field.</p>
</ng-container>
