<nav class="fixed flex items-center justify-between flex-wrap bg-gray-700 w-full z-10">
    <div class="hidden sm:flex items-center flex-shrink-0 text-white bg-gray-800">
        <a routerLink="/" class="font-semibold text-xl tracking-tight py-3 px-8">Bons Amics</a>
    </div>
    <div class="flex-grow flex items-center w-auto mx-12">
        <div class="text-sm flex-grow">
            <a routerLink="/events" class="nav"
               [routerLinkActive]="['active']">
                Events
            </a>
            <a routerLink="/members" class="nav"
               [routerLinkActive]="['active']">
                Members
            </a>
        </div>
        <div>
            <ae-user-navbar></ae-user-navbar>
        </div>
    </div>
</nav>

<ng-content></ng-content>
