<nav *ngIf="socialUser"
     class="fixed flex items-center justify-between flex-wrap bg-gray-700 w-full z-10" style="height: 54px">
    <div class="hidden sm:flex items-center flex-shrink-0 text-white bg-gray-800">
        <a routerLink="/" class="font-semibold text-xl tracking-tight py-3 px-8">Bons Amics</a>
    </div>
    <div class="flex-grow flex items-center w-auto mr-4">
        <div class="text-sm flex-grow">
            <a routerLink="/events" class="nav"
               [routerLinkActive]="['active']">
                Events
            </a>
            <a routerLink="/members" class="nav"
               [routerLinkActive]="['active']">
                Members
            </a>
        </div>
        <div>
            <ae-user-navbar [user]="socialUser"></ae-user-navbar>
        </div>
    </div>
</nav>

<div class="flex flex-col w-full h-full">
    <div *ngIf="socialUser"
         class="w-full"
         style="min-height: 54px">
    </div>
    <div class="relative w-full h-full mx-auto" [class.container]="socialUser">
        <ng-content></ng-content>
    </div>
</div>
