<ng-container *ngIf="memberList.length && !loading; else emptyView">
    <div class="flex justify-between items-baseline mt-3 mx-3 md:mx-0">
        <span class="text-2xl font-semibold text-gray-700">Members</span>
        <ae-button label="Create member" (click)="createMemberModal()"></ae-button>
    </div>
    <div [hidden]="!memberList.length" class="w-full bg-white shadow-md rounded px-4 py-4 my-4">
        <label class="text-gray-700 text-sm font-bold">
            Filters
        </label>
        <div class="flex">
            <div class="w-1/3 pr-2">
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                    id="name" type="text" placeholder="Name">
            </div>

            <div class="w-1/12 pr-2">
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                    id="year" type="number" placeholder="Year">
            </div>
        </div>
    </div>
    <div class="flex mx-3 md:mx-0">
        <div class="flex flex-wrap w-full -mx-2">
            <ng-container *ngFor="let member of memberList">
                <member-card class="flex w-2/4 md:w-1/3 lg:w-1/4 px-2 pb-2 h-48" [member]="member"></member-card>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-template #emptyView>
    <div class="card-bg relative w-11/12 mx-auto bg-gray-700 text-gray-100 shadow-md rounded px-8 pt-4 pb-6 mt-12">
        <h2 class="text-3xl font-semibold">Create your first member</h2>
        <p class="w-8/12 lg:w-1/2 my-2">Members help in the long term by easing scheduling of events, planning and keeping track of important aspects.</p>
        <ae-button label="Create member"></ae-button>
    </div>

</ng-template>
