<a routerLink="/members/{{member.id}}"
   class="flex items-center justify-center relative w-full bg-white rounded shadow bg-{{member.currentBranch}} hover:shadow-lg transition-250">
    <div class="absolute flex-row-reverse flex w-full justify-between p-2 top-0 left-0">
        <div class="h-8 bg-indigo-500 text-white rounded-full shadow self-end py-1 px-2">
            {{member.birthDate}}
        </div>
        <div [hidden]="!member.isInstructor"
             class="h-8 w-8 bg-indigo-500 rounded-full shadow"
             ae-tooltip="Monitor"
             placement="left">
        </div>
    </div>
    <span class="text-gray-200 font-bold text-2xl">{{member.givenName}} {{member.middleName}}</span>
</a>
